html {
  height: 100%;
}
body {
  margin:0;
  padding:0;
  font-family: sans-serif;
  background: linear-gradient(#141e30, #243b55);
}

.login-box {
  position: absolute;
  top: 55%;
  left: 50%;
  width: 400px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: rgba(0,0,0,.5);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
  transition: .5s;
  border-radius: 10px;
}
.signup{
  bottom: 10;  
  top: 55%
}
.login-box h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
}

.login-box .user-box {
  position: relative;
}

.login-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 20px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}

.login-box .user-box label {
  position: absolute;
  top:0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: .5s;
}

.login-box .user-box input:focus label,
.login-box .user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #03e9f4;
  font-size: 12px;
}
.login-box form a{
  color: white;
  font-size: 13px;
}
.login-box form button {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #03e9f4;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin-left: 28%;
  letter-spacing: 4px
}

.login-box button:hover {
  background: #03e9f4;
  color: #fff;
  border-radius: 5px;
  
}

.login-box form .back-form {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #03e9f4;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin-left: 33%;
  letter-spacing: 4px
}

.login-box .back-form:hover {
  background: #03e9f4;
  color: #fff;
  border-radius: 5px;
  
}

.login-box button  span {
  position: absolute;
  display: block;
}

button{
  background-color: transparent;
  border: none;
}

.alert{
  width: 25%;
  height: 10%;
  font-size: 12px;
  left: 37%;
  top: 40px;
  transition: .5s;
  animation: topslide 5s 1;
}

@keyframes topslide {
  from {
    top: 0px;
  }
  to {
    top: 40px;
  }
}

.danger{
  background-color: red;
  color: white;
}

.success{
  background-color: #11a3f2;;
  color: white;
}

.line{
  border-color: white;
  width: 50%;
}

.login-signup{
  color: white;
  font-size: 14px;
  display: flex;
  justify-content: center;
  /* border: 1px solid green; */
  width: 200px;
  margin-top: 10px;
  margin-left: 55px;
  height: 35px;
}

.login-signup :hover{
  cursor: pointer;
}

.login-signup a{
  color: white;
  text-decoration: none;
}

.content{
  color: white;
  font-size: 14px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  text-align: center;
}

.navbar {
  left: 3%;
  width: 95%;
}

.nav-link {
  margin-left: 20px;
}

.nav-link:hover{
  color: red;
}